@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Error Page</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="~/Error Page/style.css" type="text/css" media="all">
    <!-- easy-responsive-tabs css -->
    <link href="//fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>

<body>
    <h1 class="title-agile text-center">OOPs. Something has gone wrong.</h1>
    <div class="w3ls-main">
        <!--/tabs-->
        <div class="responsive_tabs w3ls_tab">
            <h2>Error</h2>
           
            <p>Please contact Administrator.</p>

            @*<div class="newsletter">
                    <form action="#" method="post" class="newsletter">
                        <input class="name" type="name" placeholder="Search..." required="">
                        <input type="submit" class="submit" value="Search">
                    </form>
                    <div class="ask">
                        <li><a href="#">Get An Estimate</a></li>
                        <li><a href="#">Ask A Question</a></li>
                    </div>

                </div>*@
            <div class="hom">
                <a href="/login/index">Go Home</a>
            </div>

        </div>
    </div>

    <div class="copy-wthree text-center">
        <p>
            © 2019 JNP Shuttle Error Page. All Rights Reserved | Powered by
            <a href="http://bsil.co.nz/" target="_blank">BSIL</a>
        </p>
    </div>
</body>
<!-- //Body -->

</html>


