
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <button id="button-a">Sweet Alert!</button>
</div>


<script>
    $('#button-a').click(function () {
        swal("Title 1", "Title 2", "success");

    });
</script>